/* Pie Chart CSS */
.pie-chart-container {
    width: 100%;
    height: 300px; /* Control the height */
    max-width: 1000px; /* Max width to prevent stretching */
    margin: 0 auto; /* Center the chart */
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent; /* Remove background */
    border: none; /* Ensure no borders appear */
  }
  
  @media (max-width: 768px) {
    /* Make Pie Chart more responsive on smaller screens */
    .pie-chart-container {
      width: 100%;
      height: 250px; /* Control height on smaller screens */
      padding: 10px;
    }
  }
  